<html>
  <head> <link rel="stylesheet" href="//s.bsd.net/page/static/20170906/skins/bsd-light/signup/frontend.css" type="text/css">
    <title>
      Take the Pledge!
    </title>
  </head>
  <body>
    <h3>Pledge Your Vote Against {{rep|safe}}</h3>
    	<form action="{{url_for('thanks')}}" method="post">
 	 	  I, <input type="text" name="name" placeholder="Your Name:" required>, will not be voting for {{rep|safe}}.<br>
          <textarea name="message" rows="10" cols="50" placeholder="Continue message here.">
</textarea>
      <input type="submit" value="Sign Pledge">
    </form>
  </body>
</html>
